/* Estilos personalizados para la página web SMO */


.navbar {
    background-color: #3b82f6;
    /* Color de fondo para la barra de navegación */
}

.hero-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.63)),
                url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.hero-content {
    z-index: 2;
}

.hero-label {
    letter-spacing: 4px;
    font-size: 20px;
    color: #3b82f6;
}

.hero-arrow {
    z-index: 2;
}

