/* Estilos personalizados para la página web SMO */


/* Esto anula el anillo de luz de Bootstrap y pone tu borde */
.btn:focus, 
.form-control:focus {
    box-shadow: none;
}

:focus-visible {
    outline: 2px solid #FACC15 !important;
    outline-offset: 2px; /* Opcional: da un poco de aire entre el elemento y el borde */
}




/* Navbar Styles */
.navbar {
    background-color: #3b82f6;
    /* Color de fondo para la barra de navegación */
}

/* Hero Styles */
.hero-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.63)),
                url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
}
/* Asegura que el contenido del hero esté por encima de la superposición */
.hero-content {
    z-index: 2;
    
}
/*
.text-primary {
    color: #120fca !important;
}
*/

/* Estilo de las letras orlandini motorsport sobre las principales en el hero */
.hero-label {
    letter-spacing: 4px;
    font-size: 20px;
    color: #0f57ca;
}

.hero-arrow {
    z-index: 2;
}

/* Estilo para el título del hero (cambia solo las blancas)*/
.hero-title {
    font-size: 70px;

}

/* Services Styles */
.section-title {
    font-size: 70px;
}

.section-text {
    font-size: 20px;
}

/* Estilo para el formulario de contacto */
.contact-form {
    background-color: #c0c3c6; /* Color de fondo personalizado, puedes cambiarlo */
}

.footer {
    background-color: #3b82f6; /* Color de fondo para el pie de página */
}